<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.larvalabs.betweenus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name=".BetweenUsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:icon="@mipmap/ic_launcher"
            android:label="Between Us"
            android:name=".WidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <receiver android:name=".SystemAlarmReceiver" />

        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
        </activity>

        <activity
            android:name=".activity.TouchPhonesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
        </activity>

        <activity
            android:name=".activity.FindingPartnerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="app/betweenus" />
<!--
                <data
                    android:scheme="vnd.android.nfc"
                    android:host="ext"
                    android:pathPrefix="/betweenus.larvalabs.com:externaltype"
                    />
-->
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserConnectedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>

        <activity
            android:name=".activity.HowToSetUpWidgetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.HamburgerMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>

        <activity
            android:name=".activity.UnitsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
